* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:focus, *:hover {
    outline:none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: #fff;
    background-color: rgb(136, 68, 163);
    border-radius: 3px;
    border: 1px solid rgb(136, 68, 163);
    padding: 5px 15px;
    font-size: 14px;
}

button:hover {
    background-color: rgb(85, 26, 110);
    border: 1px solid rgb(85, 26, 110);
}

/* HEADER STYLES START */
header {
    margin: 20px 50px;
}

header a {
    color: #FF1493;
    text-decoration: none;
}
header p {
    font-weight: bold;
    float: right;
}

/* HEADER STYLES END */

/* INTRO STYLES START */
#intro {
    text-align: center;
    margin: 50px 30%;
}

#intro h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#intro p {
    margin-bottom: 20px;
}

/* INTRO STYLES END */

/* QUESTIONS STYLES START */
#questions {
    text-align: center;
}

.question-text {
    margin: 50px 0 20px 0;
}

.answer-option {
    width: 200px;
    margin: 5px 0;
}

hr {
    width: 50%;
    margin: 5px auto;
}

.answer-container p {
    font-size: 20px;
    color: gray;
    font-style: italic;
}
/* QUESTION STYLES END */

/* ENTER SCORE START */

#enter-score {
    text-align: center;
    margin: 50px 0;
}

#enter-score h1 {
    font-size: 30px;
}

#enter-score p {
    margin-top: 20px;
}

#enter-score button {
    margin-left: 10px
}

/* ENTER SCORE END */

/* HIGH SCORE PAGE START */
#high-scores-container {
    text-align: center;
    margin: 80px 0 0 0;
}

#high-scores-container li:nth-child(odd) {
    background-color: #b818d894;
}

#high-scores-container li:nth-child(even) {
    background-color: #756f72a4;
}

#high-scores-container button {
    margin: 10px 5px;
}

/* HIGH SCORE PAGE END */

